.profile_wrapper{
  display: flex;
  margin: 5px 0px 0px 0px;
  color: rgb(255, 255, 255);
}
.profile_wrapper_text{
  padding: 0px 0px 0px 10px;
}
.profile_wrapper_text_name{
  margin: 0px;
  font-weight: 700;
  letter-spacing: 2px;
}
.profile_wrapper_icon{
  padding: 10px 0px 0px 0px;
  height: 100px;
  width: 100px;
}