@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


.app_wrapper{
  margin: 0 auto;
  padding: 0px 10px;
  
}



#root{

height: 100vh;
}
.app_wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
  
}
.sidebar{
  
  background-color: rgb(56, 113, 199);
  border-radius: 7px;
}



