@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.app_wrapper{
  margin: 0 auto;
  padding: 0px 10px;
  
}

#root{

}

.app_wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}
.cont{
  background-color: rgb(5, 42, 58);
  font-family: 'Orbitron', sans-serif; 
  border-radius: 7px;
  display: flex;
  padding: 5px;
  flex-grow: 1;
  color: rgb(255, 255, 255);
}




